

body {
    background: linear-gradient(90deg, blue,pink);
    background-size:cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    top: 100px;
}

.container {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
    position: relative;
}

div .add-btn {
    border: none;
    height: 45px;
    margin: 10px;
    padding: 10px;
    background-color: #d26308;
    border-radius: 50px;
}

.task {
    width: 100%;
    background-color: aqua;
}

button {
    margin: 10px;
}
input {
    background-color: rgb(220, 241, 241);
    height: 40px;
    border: none;
    border-radius: 50px;
    padding: 0 15px;
    flex: 1;
}