body {
    text-align: center;
}

.btn-container {
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 30px;
}

.btn {
    width: 200px;
    height: 200px;
    border: 10px solid black;
    border-radius: 20px;
    margin: 10px;
}

.btn-1 {
    background-color: #f99b45;
}
.btn-2 {
    background-color: #d95980;
}
.btn-3 {
    background-color: #819ff9;
}
.btn-4 {
    background-color: #63aac0;
}
.flash {
    background-color: white;
}